.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 0 30px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
}
