.reservation {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #d9e7ff;
  min-height: 720px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.reservation__image {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #0a2750;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.reservation__form {
  max-width: 385px;
  width: 100%;
}
