.footer {
  background-color: #0a2850;
  height: 224px;
  padding: 60px 80px;
  margin-top: 0;
  position: relative;
  overflow: hidden;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
  position: relative;
}

.footer__logo {
  color: #ffffff;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: 44px;
  z-index: 0;
  transform: translateX(-50%);
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.footer__list {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.footer__list-item {
  margin-bottom: 16px;
}
.footer__social-link {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  gap: 10px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
}
.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 108px;
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}
